{% extends 'layout2.html' %}


{% block content %}
<div class="container-fluid pt-4">
  <div class="card">
    <div class="card-body">
      <div>
        <h5 class="card-title float-start">Liste des agents</h5>
        <a href="/agent/add" class="btn btn-primary btn-sm float-end">
          <span class="fa-solid fa-edit"> </span> Créer agent
        </a>
      </div>
      <br>
      <hr>
      <br>
      <div>
        {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >

            {{ message }}
          </div>
        </div>
        {% endfor %}
        <table id="agentTable" class="table table-bordered">
          <thead>
          <tr>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Numéro de téléphone</th>
            <th>Etat Compte</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody class="text-center">
          {% for agent in agents %}
          <tr>
            <td>{{ agent.registration_number }}</td>
            <td>{{ agent.firstname }}</td>
            <td>{{ agent.lastname }}</td>
            <td>{{ agent.email }}</td>
            <td>{{ agent.phone_number }}</td>
            {% if agent.agent_profile|length != 0 or agent.accountant_profile|length != 0 or agent.manager_profile|length != 0 %}
            <td><span class="badge bg-success">Compte actif</span></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-primary btn-sm updateAgent" data-id={{agent.id}} title="Edit agent"><span class="fa-solid fa-edit"></span></a>
                <a href="#" class="btn btn-danger btn-sm deleteAgent" data-id="{{agent.id}}" title="Delete agent"><span class="fa-solid fa-trash"></span></a>
              </div>
            </td>
            {% else %}
            <td><span class="badge bg-danger">Compte inexistant</span></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-primary btn-sm updateAgent" data-id={{agent.id}} title="Edit agent"><span class="fa-solid fa-edit"></span></a>
                <a href="#" class="btn btn-success btn-sm createUser" data-id="{{agent.id}}" title="Create agent account"><span class="fa-solid fa-user"></span></a>
                <a href="#" class="btn btn-danger btn-sm deleteAgent" data-id="{{agent.id}}" title="Delete agent"><span class="fa-solid fa-trash"></span></a>
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block scripts %}
<script type="text/javascript">

        var table = new DataTable('#agentTable');
        $(document).ready(function(){
            $('.updateAgent').click(function(){
              agent_id = $(this).data("id")
              // AJAX request
               $.ajax({
                     url: '{% url "get_agent" %}',
                     type: 'get',
                     data:{agent_id:agent_id},
                     dataType: 'json',
                     success: function(response){
                          console.log(response)
                          $('.modal-body #firstname').val(response.agent[0].firstname);
                          $('.modal-body #lastname').val(response.agent[0].lastname);
                          $('.modal-body #email').val(response.agent[0].email);
                          $('.modal-body #phone_number').val(response.agent[0].phone_number);
                          $('.modal-body #id_agent').val(agent_id);
                          $('#agentModal').modal('show');
                     }
               });

            })

            $('.createUser').click(function(){
              agent_id = $(this).data("id")
              // AJAX request
               $.ajax({
                     url: '{% url "agent_account" %}',
                     type: 'get',
                     data:{agent_id:agent_id},
                     dataType: 'json',
                     success: function(response){
                          console.log(response)
                          let roles = ''
                          console.log(roles)
                          for(let i = 0; i < response.roles.length; i++){
                            if(response.roles[i] != 'ADMIN'){
                              roles += `<option value=${response.roles[i]}>${response.roles[i]}</option>`
                            }

                          }
                          let arrFirstname = response.agent[0].firstname.split(' ')
                          let arrLastname = response.agent[0].lastname.split(' ')
                          let username = arrFirstname[0].toLowerCase()+arrLastname[0].toLowerCase()
                          $('.modal-body #username').val(username);
                          $('.modal-body #id_agent_user').val(response.agent[0].id);
                          $('.modal-body #firstname_user').val(response.agent[0].firstname);
                          $('.modal-body #lastname_user').val(response.agent[0].lastname);
                          $('.modal-body #email_user').val(response.agent[0].email);
                          $('.modal-body #phone_number_user').val(response.agent[0].phone_number);
                          $('.modal-body #role_user').html(roles);
                          $('#agentAccountModal').modal('show');
                     }
               });

            })
        })

    </script>
{% endblock scripts %}